/* Reset & base layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(ombre.jpg);
    background-size: cover;
    background-position: center;
}

/* header ak nav */
.hero {
    height: auto;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    padding: 10px 10%;
}

.logo {
    color: white;
    font-size: 20px;
}

span {
    color: red;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 10px 10px;
}

button {
    border: none;
    background-color: red;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

main {
    flex: 1; /* pouse footer anba */
    padding: 2rem 10%;
    color: white;
}

img {
    width: 40%;
    float: right;
    margin-right: 10px;
    border-radius: 48% 52% 48% 52% / 54% 53% 47% 46%;
}

/* Footer toujou anba */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}
.footer-socials a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}
.footer-socials a:hover{
    color:#f39c12; /* changement de couleur */

} 
